<div class="media-content">
    <img src="@Media.MediaUrl" alt="Media Content" class="img-fluid">
    @if (!string.IsNullOrEmpty(Media.Caption))
    {
        <div class="caption">
            @Media.Caption
        </div>
    }
</div>

@code {
    [Parameter]
    public Media Media { get; set; }
}
