.masonry {
    display: block;
}

.masonry-item {
    width: 20%; /* 5 columns */
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .masonry-item {
        width: 33.33%; /* 3 columns */
    }
}

@media (max-width: 576px) {
    .masonry-item {
        width: 50%; /* 2 columns */
    }
}

@media (max-width: 400px) {
    .masonry-item {
        width: 100%; /* 1 column */
    }
}


.media-content {
    position: relative;
}
