.masonry {
    display: block;
}

.masonry-item {
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}


.masonry:not(.masonry-live) .masonry-item {
    width: 16.66%; /* 6 columns */
}

.masonry.masonry-live .masonry-item {
    width: 33.33%; /* 3 columns */
}

@media (max-width: 1500px) {
    .masonry:not(.masonry-live) .masonry-item {
        width: 20%; /* 5 columns */
    }

    .masonry.masonry-live .masonry-item {
        width: 33.33%; /* 3 columns */
    }
}

@media (max-width: 1200px) {
    .masonry:not(.masonry-live) .masonry-item {
        width: 25%; /* 4 columns */
    }


    .masonry.masonry-live .masonry-item {
        width: 33.33%; /* 3 columns */
    }
}

@media (max-width: 700px) {
    .masonry:not(.masonry-live) .masonry-item {
        width: 33.33%; /* 3 columns */
    }
}

.media-content {
    position: relative;
}
