@page "/medias"
@inject IInstagramService InstagramService
@inject IJSRuntime JS

<div class="masonry">
    @foreach (var media in Medias)
    {
        @if (media.MediaType == "IMAGE")
        {
            <div class="masonry-item">
                <MediaContent Media="@media" />
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Media>? Medias { get; set; } = Enumerable.Empty<Media>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("masonryLayout");
    }
}
