@page "/medias"
@inject IInstagramService InstagramService

<div class="d-flex flex-wrap">
    @foreach (var media in Medias)
    {
        <div class="col-6">
            <MediaContent Media="@media" />
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Media>? Medias { get; set; } = Enumerable.Empty<Media>();
}