@inject IJSRuntime JS

<div class="@(IsLivestreaming ? "masonry masonry-live" : "masonry")">
    @foreach (var media in Medias)
    {
        @if (media.MediaType == "IMAGE")
        {
            <div class="masonry-item">
                <MediaContent Media="@media" />
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Media>? Medias { get; set; } = Enumerable.Empty<Media>();

    [Parameter]
    public bool IsLivestreaming { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Medias != null && Medias.Any())
        {
            await JS.InvokeVoidAsync("masonryLayout");
        }
    }
}
