@inject IAuthenticationService AuthenticationService
@inject IStreamingService StreamingService

<button @onclick="StartStreaming" disabled="@StreamingService.IsStreaming">Start Streaming</button>
<button @onclick="StopStreaming" disabled="@(!StreamingService.IsStreaming)">Stop Streaming</button>

@code {
    private string userId = "";

    protected override async Task OnInitializedAsync()
    {
        userId = await AuthenticationService.GetUserIdAsync();
    }

    private async Task StartStreaming()
    {
        await StreamingService.StartStreaming(userId);
        StateHasChanged();
    }

    private async Task StopStreaming()
    {
        await StreamingService.StopStreaming(userId);
        StateHasChanged();
    }

    // public async ValueTask DisposeAsync()
    // {
    //     await StreamingService.StopStreaming(userId);
    // }
}
