@page "/streaming"
@inject IJSRuntime JSRuntime
@inject IStreamingService StreamingService


<video id="livestreamVideo" autoplay playsinline></video>

<button @onclick="StartStreaming" disabled="@StreamingService.IsStreaming">Start Streaming</button>
<button @onclick="StopStreaming" disabled="@(!StreamingService.IsStreaming)">Stop Streaming</button>

@code {
    private bool isStreaming = false;

    protected override async Task OnInitializedAsync()
    {
        await StreamingService.InitializeAsync();
    }

    private async Task StartStreaming()
    {
        await StreamingService.StartStreamingAsync();
    }

    private async Task StopStreaming()
    {
        await StreamingService.StopStreamingAsync();
    }
}
