@page "/streaming"
@inject IJSRuntime JSRuntime


<video id="livestreamVideo" autoplay playsinline></video>

<button @onclick="StartStreaming" disabled="@isStreaming">Start Streaming</button>
<button @onclick="StopStreaming" disabled="@(!isStreaming)">Stop Streaming</button>

@code {
    private bool isStreaming = false;

    private async Task StartStreaming()
    {
        bool success = await JSRuntime.InvokeAsync<bool>("streamingFunctions.startStreaming");
        if (success)
        {
            isStreaming = true;
        }
    }

    private async Task StopStreaming()
    {
        await JSRuntime.InvokeVoidAsync("streamingFunctions.stopStreaming");
        isStreaming = false;
    }
}
