<p>Please log in to connect your cat!</p>
<Login />
<p>No account?</p>
<div @onclick="@(() => Modal.Show<Register>(options))">SIGN UP</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    ModalOptions options = new ModalOptions()
        {
            Size = ModalSize.Large,
            HideCloseButton = true,
            HideHeader = true
        };
}
