@using CatTok.Services;
@inject IAuthenticationService AuthenticationService;
@inject AuthenticationState AuthenticationState

@if (AuthenticationState.IsLoggedIn)
{
    <span> Welcome @AuthenticationState.Username! <a @onclick="LogoutAsync">Logout</a></span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {
    protected override void OnInitialized()
    {
        AuthenticationState.AuthenticationStateChanged += StateHasChanged;
        base.OnInitialized();
    }

    private async Task LogoutAsync()
    {
        await AuthenticationService.LogoutAsync();
    }

    public void Dispose()
    {
        AuthenticationState.AuthenticationStateChanged -= StateHasChanged;
    }
}