.container-fluid {
    border-top: 1px solid;
    border-image: linear-gradient(to right, white 25%, black 25%, black 75%, white 75%) 100% 1;
    padding-top: 50px;
}

.col{
    margin: 0 5px;
}

.livestream-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
}

.livestream-button img {
    width: 80px;
    height: 66px;
    display: block;
}
