@page "/"

<div class="container-fluid text-center">
    <div class="row">
        <div class="col" style="background-color:red">hey</div>
        <div class="col-6" style="background-color:green">hey</div>
        <div class="col" style="background-color:blue">hey</div>
    </div>
</div>

@code{

}