@inherits LayoutComponentBase

<div class="d-flex justify-content-between align-items-center pt-2 px-5">
    <div style="width:36px;">&nbsp;</div>
    <div>
        <h3>@@igname</h3>
    </div>
    <div @onclick="@(() => Modal.Show<Information>("Test"))">
        <img src="img/info.svg" style="width:36px; height:auto;"/>
    </div>
</div>

<main class="px-5 py-4">
    @Body
</main>


@code{
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
}